/**
  * @author wang.kt
  * @date 2020-06-15 17:25:38
  * @version 1.0
  * @description 功能描述
  * ----------------------------------------------------
  * date          author         desc
  * 2020-06-15 17:25:38      wang.kt      初始化文档
  * ----------------------------------------------------
  * */
.kt-img {
  background: #e8e8e8;
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 128px;
    max-width: 100%;
    max-height: 100%;
  }
}