@charset "UTF-8";
/**
  * @author wang.kt
  * @date 2020-07-19 18:46:24
  * @version 1.0
  * @description 功能描述
  * ----------------------------------------------------
  * date          author         desc
  * 2020-07-19 18:46:24      wang.kt      初始化文档
  * ----------------------------------------------------
  * */
@keyframes popupAnim{
  0%{
    bottom: -100%;
  }
  100%{
    bottom: 0%;
  }
}

.kt-popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  &.mask{
    background: #00000070;
  }
  .kt-popup-container{
    position: absolute;
    height: 50vh;
    width: 100%;
    bottom: 0;
    background: white;
    animation: popupAnim 1s ease forwards;
  }
}