<!--
    @author wang.kt
    @date 2020-07-09 09:53:52
    @version 1.0
    @description 功能描述 再次封装transition组件,支持配置根路由、延时等。支持自动识别前进或者后退
    ----------------------------------------------------
    date          author      desc
    2020-07-09 09:53:52      wang.kt   初始化文档
    ----------------------------------------------------
-->
<transition :name="ktTransitionName" @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter"
    @enter-cancelled="enterCancelled" @before-leave="beforeLeave" @leave="leave" @after-leave="afterLeave"
    @leave-cancelled="leaveCancelled">
    <slot></slot>
</transition>