/**
  * @author wang.kt
  * @date 2020-06-08 10:12:06
  * @version 1.0
  * @description 功能描述
  * ----------------------------------------------------
  * date          author         desc
  * 2020-06-08 10:12:06      wang.kt      初始化文档
  * ----------------------------------------------------
  * */
.kt-app {
  position: absolute;
  height: 100%;
  background-color: white;
  .kt-app-container{
    position: relative;
    height: 100%;
    width: 100vw;
    max-width: 640px;
  }
}