<!--
    @author wang.kt
    @date 2020-07-21 16:52:16
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-07-21 16:52:16      wang.kt   初始化文档
    ----------------------------------------------------
-->
<div class="kt-card">
    <div class="kt-card-header">
        <div class="kt-card-title">
            <slot name="title"></slot>
        </div>
        <div class="kt-card-subtitle">
            <slot name="subtitle"></slot>
        </div>
    </div>
    <div class="kt-card-content">
        <slot></slot>
    </div>
</div>