<!--
    @author wang.kt
    @date 2020-07-13 14:33:48
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-07-13 14:33:48      wang.kt   初始化文档
    ----------------------------------------------------
-->
<kt-app class="index">
    <kt-content>
        <router-view />
    </kt-content>
    <kt-footer>
        <kt-tabs ref="ktTabs" :opts="tabsOpts">
            <kt-tab @click.native="onTabClick(0)">HOME</kt-tab>
            <kt-tab @click.native="onTabClick(1)">WORK</kt-tab>
            <kt-tab @click.native="onTabClick(2)">UNVI</kt-tab>
            <kt-tab @click.native="onTabClick(3)">PERSON</kt-tab>
        </kt-tabs>
    </kt-footer>
</kt-app>