@charset "UTF-8";
/**
  * @author wang.kt
  * @date 2020-07-13 14:33:48
  * @version 1.0
  * @description 功能描述
  * ----------------------------------------------------
  * date          author         desc
  * 2020-07-13 14:33:48      wang.kt      初始化文档
  * ----------------------------------------------------
  * */
.index {
  .active{
    font-weight: bolder;
    color: #673ab7;
    text-shadow: 0px 0px 2px #9a9a9a;
  }
}