<!--
    @author your name
    @date 2020-06-05 12:11:37
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-06-05 12:11:37      your name   初始化文档
    ----------------------------------------------------
-->
<kt-app class="tabs">
    <!-- <kt-header> JUST A HEADER</kt-header> -->
    <kt-content>
        <kt-slides style="height: 100%;width: 100%;" ref="ktSlides" @onSlidingTransformAnim="onSlidingTransformAnim">
            <kt-slide>
                <kt-home></kt-home>
            </kt-slide>
            <kt-slide>
                <kt-work></kt-work>
            </kt-slide>
            <kt-slide>
                <kt-unvi></kt-unvi>
            </kt-slide>
            <kt-slide>
                <kt-person></kt-person>
            </kt-slide>
        </kt-slides>
    </kt-content>
    <kt-footer>
        <kt-tabs ref="ktTabs" :opts="tabsOpts">
            <kt-tab @click.native="onTabClick(0)">HOME</kt-tab>
            <kt-tab @click.native="onTabClick(1)">WORK</kt-tab>
            <kt-tab @click.native="onTabClick(2)">UNVI</kt-tab>
            <kt-tab @click.native="onTabClick(3)">PERSON</kt-tab>
        </kt-tabs>
    </kt-footer>
</kt-app>