<!--
    @author your name
    @date 2020-06-05 12:11:37
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-06-05 12:11:37      your name   初始化文档
    ----------------------------------------------------
-->
<kt-app>
    <!-- <kt-header></kt-header> -->
    <kt-content>
        <p>日本人之称我中国也，一则曰老大帝国，再则曰老大帝国。是语也，盖袭译欧西人之言也。呜呼！我中国其果老大矣乎？梁启超曰：恶！是何言！是何言！吾心目中有一少年中国在！
        </p>
        <p>欲言国之老少，请先言人之老少。老年人常思既往，少年人常思将来。惟思既往也，故生留恋心；惟思将来也，故生希望心。惟留恋也，故保守；惟希望也，故进取。惟保守也，故永旧；惟进取也，故日新。惟思既往也，事事皆其所已经者，故惟知照例；惟思将来也，事事皆其所未经者，故常敢破格。老年人常多忧虑，少年人常好行乐。惟多忧也，故灰心；惟行乐也，故盛气。惟灰心也，故怯懦；惟盛气也，故豪壮。惟怯懦也，故苟且；惟豪壮也，故冒险。惟苟且也，故能灭世界；惟冒险也，故能造世界。老年人常厌事，少年人常喜事。惟厌事也，故常觉一切事无可为者；惟好事也，故常觉一切事无不可为者。老年人如夕照，少年人如朝阳；老年人如瘠牛，少年人如乳虎。老年人如僧，少年人如侠。老年人如字典，少年人如戏文。老年人如鸦片烟，少年人如泼兰地酒。老年人如别行星之陨石，少年人如大洋海之珊瑚岛。老年人如埃及沙漠之金字塔，少年人如西比利亚之铁路；老年人如秋后之柳，少年人如春前之草。老年人如死海之潴为泽，少年人如长江之初发源。此老年与少年性格不同之大略也。任公曰：人固有之，国亦宜然。
        </p>
        <p>梁启超曰：伤哉，老大也！浔阳江头琵琶妇，当明月绕船，枫叶瑟瑟，衾寒于铁，似梦非梦之时，追想洛阳尘中春花秋月之佳趣。西宫南内，白发宫娥，一灯如穗，三五对坐，谈开元、天宝间遗事，谱《霓裳羽衣曲》。青门种瓜人，左对孺人，顾弄孺子，忆侯门似海珠履杂遝之盛事。拿破仑之流于厄蔑，阿剌飞之幽于锡兰，与三两监守吏，或过访之好事者，道当年短刀匹马驰骋中原，席卷欧洲，血战海楼，一声叱咤，万国震恐之丰功伟烈，初而拍案，继而抚髀，终而揽镜。呜呼，面皴齿尽，白发盈把，颓然老矣！若是者，舍幽郁之外无心事，舍悲惨之外无天地，舍颓唐之外无日月，舍叹息之外无音声，舍待死之外无事业。美人豪杰且然，而况寻常碌碌者耶？生平亲友，皆在墟墓；起居饮食，待命于人。今日且过，遑知他日？今年且过，遑恤明年？普天下灰心短气之事，未有甚于老大者。于此人也，而欲望以拏云之手段，回天之事功，挟山超海之意气，能乎不能？
        </p>
    </kt-content>
    <kt-footer>Just footer</kt-footer>
</kt-app>