// 布局scss
@import "../variable";
// kt-app
.kt-app {
  position: absolute;
  height: 100%;
  .kt-app-container{
    position: relative;
    height: 100%;
    width: 100vw;
    max-width: 640px;
  }
  .kt-header,.kt-footer{
    @include theme-clear
  }
  .kt-header {
    height: $wang-header;
    line-height: $wang-header;
  }
  .kt-footer {
    height: $wang-footer;
    line-height: $wang-footer;
  }
  .kt-content {
    height: 100%;

    @include theme-bg;

    &.has-header.has-footer {
      height: calc(100% - #{$wang-header + $wang-footer});
    }
    &.has-header {
      height: calc(100% - #{$wang-header});
    }
    &.has-footer {
      height: calc(100% - #{$wang-header});
    }
  }
}