<!--
    @author wang.kt
    @date 2020-07-19 18:44:51
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-07-19 18:44:51      wang.kt   初始化文档
    ----------------------------------------------------
-->
<div class="kt-scroll-top scrollTop" v-if="parents && parents.isEnabled" @click="onClick" >
    <svg class="icon" aria-hidden="true">
        <use :xlink:href="'#icon-' + parents.icon"></use>
    </svg>
</div>