<!--
    @author wang.kt
    @date 2020-07-21 13:39:40
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-07-21 13:39:40      wang.kt   初始化文档
    ----------------------------------------------------
-->
<kt-scroll class="introduction" scroll='y' :opts='myOpts' @onRefresh="onRefresh" @onLoadMore="onLoadMore">
    <kt-card v-for="(item,index) in list" :key="index">
        <div slot="title" @click="onResult(item.type)">{{item.title}}</div>
        <div slot="subtitle">{{item.subtitle}}</div>
        <div v-html="$options.filters.xss(item.content)"></div>
    </kt-card>
</kt-scroll>