@charset "UTF-8";
/**
  * @author wang.kt
  * @date 2020-07-11 09:58:59
  * @version 1.0
  * @description 功能描述
  * ----------------------------------------------------
  * date          author         desc
  * 2020-07-11 09:58:59      wang.kt      初始化文档
  * ----------------------------------------------------
  * */

.kt-scroll {
  height: 100%;
  &.scrollToX{
    overflow-x: scroll;
  }
  &.scrollToY{
    overflow-y: scroll;
  }
  .kt-scroll-refresh,.kt-scroll-loadmore{
    position: relative;
    height: 0;
    font-size: 12px;
    overflow: hidden;
    background: #f3f3f3;
    color: #9E9E9E;
  }
  .kt-scroll-refresh{
    .refresh-icon{
      position: absolute;
      bottom: 32px;
      height: 12px;
      width: 100%;
      .icon-wang{
        width: 100%;
        &::before{
          content: "WANG";
          position: absolute;
          left: 0;
          width: 100%;
          line-height: 100%;
          font-weight: bolder;
          font-family: fantasy;
        }
      }
      
    }
    .refresh-msg{
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 32px;
      line-height: 32px;
    }
  }
  .kt-scroll-loadmore{
    line-height: 32px;
  }
}