

  .slide-right-enter-active,
  .slide-right-leave-active,
  .slide-left-enter-active,
  .slide-left-leave-active {
    will-change: transform;
    transition: all 0.5s ease-in-out;
  }
  .slide-right-enter {
    transform: translateX(100%);
  }
  .slide-right-enter-to{
    transform: translateX(0px);
  }
  
  .slide-left-enter {
    transform: translateX(0px);
  }

  .slide-left-leave{
    transform: translateX(0px);
  }
  
  .slide-left-leave-to {
    transform: translateX(100%);
  }

  @keyframes popupAnim{
    0% {
      transform: translateY(100vh);
    }
    80%{
      transform: translateY(-15px);
    }
    85%{
      transform: translateY(5px);
    }
    89%{
      transform: translateY(-10px);
    }
    94%{
      transform: translateY(0px);
    }
    97%{
      transform: translateY(-5px);
    }
    100%{
      transform: translateY(0px);
    }
  }

  .popup-bottom-enter-active{
    animation: popupAnim 3s ease-in forwards;
  }
  

  .popup-bottom-leave{
    transform: translateY(0px);
  }
  
  .popup-bottom-leave-active {
    will-change: transform;
    transition: all 5s ease-in-out;
  }

  .popup-bottom-leave-to {
    transform: translateY(100%);
  }