
.kt-tabs {
  position: relative;
  height: 100%;
  width: 100%;
  &.scrollToX{
    overflow-x: scroll;
  }
  .rail{
    width: 100%;
  }
  .slidingSign{
    position: absolute;
  }
}

.kt-tab {
  position: relative;
  float: left;
  height: 100%;
}