
.kt-toolbar {
  position: relative;
  height: 100%;
  width: 100%;
  
  .start{
    position: absolute;
    height: 100%;
    width: 20vw;
    top: 0;
    left: 0;
  }
  .default{
    position: absolute;
    height: 100%;
    width: 60vw;
    top: 0;
    left: 20vw;
  }
  .end{
    position: absolute;
    height: 100%;
    width: 20vw;
    top: 0;
    right: 0;
  }
}

.kt-back {
  &:before,&:after{
    content: "";
    position: absolute;
    top: 25%;
    left: 10px;
    height: 30%;
    width: 2px;
    background: #607D8B;
    transform: rotateZ(45deg);
  }
  &:after{
    top: 45%;
    transform: rotateZ(-40deg);
  }
}