<!--
    @author wang.kt
    @date 2020-06-08 20:48:23
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-06-08 20:48:23      wang.kt   初始化文档
    ----------------------------------------------------
-->
<div class="home">
    <kt-header>
        <kt-tabs ref="ktTabs" :opts="tabsOpts" @onTabsIndexChange="onTabsChange">
            <kt-tab @click.native="onTabClick(index)" v-for="(item,index) in list" :key="index">{{item.name}}</kt-tab>
        </kt-tabs>
    </kt-header>
    <kt-content>
        <kt-slides style="height: 100%;width: 100%;" ref="ktSlides" @onSlidingTransformAnim="onSlidingTransformAnim">
            <kt-slide v-for="(item,index) in list" :key="index">
                <component v-if="item.isLoad" :is="item.component" :list="compData[index]"></component>
            </kt-slide>
        </kt-slides>
    </kt-content>
</div>