<!--
    @author wang.kt
    @date 2020-06-08 20:48:23
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-06-08 20:48:23      wang.kt   初始化文档
    ----------------------------------------------------
-->
<kt-scorll class="home" scroll="y" :opts="homeScrollOpts">
    <a href="#/article">JUST GO HOME</a>
    <br />
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;" src='http://img0.imgtn.bdimg.com/it/u=3899704889,2128638005&fm=26&gp=0.jpg'>
    </kt-img>
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;"></kt-img>
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;" src='http://img0.imgtn.bdimg.com/it/u=3899704889,2128638005&fm=26&gp=0.jpg'>
    </kt-img>
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;" src='http://img0.imgtn.bdimg.com/it/u=3899704889,2128638005&fm=26&gp=0.jpg'>
    </kt-img>
    <br />
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;" src='http://img0.imgtn.bdimg.com/it/u=3899704889,2128638005&fm=26&gp=0.jpg'>
    </kt-img>
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;"></kt-img>
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;" src='http://img0.imgtn.bdimg.com/it/u=3899704889,2128638005&fm=26&gp=0.jpg'>
    </kt-img>
    <br />
    <br />
    <br />
    <kt-img style="height: 30vw;" src='http://img0.imgtn.bdimg.com/it/u=3899704889,2128638005&fm=26&gp=0.jpg'>
    </kt-img>
</kt-scorll>