<!--
    @author wang.kt
    @date 2020-06-08 20:48:23
    @version 1.0
    @description 功能描述
    ----------------------------------------------------
    date          author      desc
    2020-06-08 20:48:23      wang.kt   初始化文档
    ----------------------------------------------------
-->
<kt-app class="home">
    <kt-header>
        落定侯
    </kt-header>
    <kt-content scroll="x">
        <p>作品大纲 — 落定侯</p>

        <p>关于人族地域的定位：</p>
        <p>人族的发源地是被后世称之为“落定源”的坐落于灵界远东地域的一座半岛之上。由于被灵界的两大险地：死寂海、冤瘴渊环绕，仅留西南方向上与木族接壤。其中更有落凤山脉、金脊高原和星罗海横梗期间。如此终于保住了人妖二族的生存空间。
        </p>

        <p> 关于能力：</p>
        <p>内力为基，属性为锋。绝大部分人都可以修习内力，同时人们的内力先天本质都是无属性的。但是由于人们所处的环境或者部分先天血脉的不同从而导致了具有不同属性的内力。同时由于地域文化的差异，人们对内力的运用也有不同的理解。在彪悍的北方地区需要直面面对财狼虎豹的威胁，所以多为战斗所需，对于刀枪剑戟在内力加持运用都独特的理解。南方由于崇山峻岭较多，其多是运用于自身。西方由于冤瘴渊的侵蚀，多有鬼物。中部则因地处要冲，则技巧多变。东方则是对于水系和气体的应用。
        </p>

        关于内力等级：
        练气交汇、化气为劲、贯通百脉、气海金湖、百炼金身、化神。
        关于属性的种类：
        金木水火土雾雷电等。

        关于妖兽：
        由于东林妖族残余对普通的野兽的影响，导致其变异、通灵具有了些许智慧和传承。
        关于妖族：
        妖族的认知是万物炼化修成人身后的异类认同，而形成的群体与部落。


        关于人族地域的妖族的来历：
        是万妖族第一次东征时，其中十三妖族之一的东林战族所残留的子嗣。在经过冤瘴渊时，当时的战族族长只能为保留血脉送走尚未成年的族人。但也只有零星的妖族成功度过冤瘴渊，这也成为落定源凶兽的起源。

        关于落定源的定位：
        人族的落定源，是夹杂在死寂海和冤瘴渊之间的一片广袤的陆界，大小不知几何。

        关于北地的力量格局：
        北地妖族主要集中在冤瘴渊一侧，但是随着时间的推移，也逐渐向东和南扩张。
        北地主要有三大宗门掌控，分别为冰雪宗，炫光城和青云宗。其中又以炫光城最为势大，独占北地6层地域；冰雪宗因占据最北边的苦寒之地，因占其3，青云宗则只占其一。
        其后则是八大家族其排名分别为：炫光金家、冰城慕容、青云陈家、落风罗家、祁连常家、左山王家、雾岭幽家、武陵陈家。
        其中金家和武陵陈家隶属炫光城，慕容、常家隶属冰雪宗，其余四家皆属青云。

        写在作品之前：

        于我个人而言，并不喜欢所谓的升级流、无限流、外挂流等诸多流派。我只想描绘出我认为的世界，我的想法。其应当尽可能的遵从事物发展的客观规律，不同环境所孕育人的性格、智慧，行为方式的不同等，杜绝上帝视角。
        希望我的第一本小说，在娱乐大众的情况下，尽量的诠释自然科学。

        该部主要分为三部，第一部是落定侯 ，第二部是金风军
        ，第三部是金风吼。主要讲述了位于灵界东方的人族的崛起，辉煌与终殇之战。在大的历史背景中，王陆应运而生，凭借着自己的智慧和武力为人族打下了大片的生存空间，并且大力鼓励拓展和训练军队。培养出了赫赫有名的金风军，并一举将人族推往辉煌盛世。然而，世事轮回早有征兆，在万妖族战略东移的大势之下，昔日赫赫威名的金风军也注定凋亡。人族不得不败走最后的故土“落定源”，聆听着从长者那听来的“金风吼的故事”。

        第一部：落定侯
        明线：讲述了具有宿慧的王陆的成长。
        暗线1：讲述了以王陆为核心的金风军的形成。
        暗线2: 讲述了伴随着灵界灵气的增长，万灵之一的人族的崛起与恩怨。
    </kt-content>
</kt-app>