@import "variable";
@import "reset";

#app {
  font-family: $wang-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

@import "layout/layout";
@import "layout/scroll";

@import "components/popup";
@import "components/slides";
@import "components/card";
@import "components/animation";
@import "components/tabs";
@import "components/toolbar";
@import "unit/icon";
@import "unit/img";
