@import "variable";
@import "reset";
@import "normal";

#app {
  font-family: $wang-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  @include theme-nomal;
}

@import "layout/layout";
@import "layout/scroll";

@import "components/popup";
@import "components/slides";
@import "components/card";
@import "components/animation";
@import "components/tabs";
@import "components/toolbar";
@import "components/unit/icon";
@import "components/unit/img";
